* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/* Shared style */
.color {
   color: white;
}

.btn {
   padding: 10px 30px;
   border-radius: 1000px;
   font-size: 20px;
   font-weight: 500;
   background: linear-gradient(30deg,
         #F7E93F,
         #FB09B4,
         #9100F8);

}
.hide, .mobile {
   display: none;
}

/* header style */
header,
#about {
   background-color: rgba(26, 11, 46, 1);
}


/* nav style */
nav{
   max-width: 1600px;
}
nav .nav-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: aliceblue;
   padding: 15px;

}

nav h2 {
   color: white;
   font-size: 30px;
   font-weight: 600;

}

.gradient-text {
   font-size: 30px;
  background: linear-gradient(30deg,
         #F7E93F,
         #FB09B4,
         #9100F8);
  background-clip: text;
 -webkit-text-fill-color: transparent;
  
}


nav .menu {
   display: flex;
   justify-content: space-around;
   font-size: 16px;
   font-weight: 400;
   gap: 30px;
   list-style: none;
}

.menu a {
   text-decoration: none;
   color: aliceblue;
}

#hero {
   background: url(/B13-A02-TechWave/assets/hero-bg.png);
   background-repeat: no-repeat;

   background-size: 100%;


}

#hero .gradient-box {
   width: 350px;
   height: 350px;
   border-radius: 50%;
   display: flex;
   margin: 0 auto;
  
   align-items: center;
   justify-content: center;

   background: linear-gradient(30deg,
         #F7E93F,
         #FB09B4,
         #9100F8);
}

#hero .mic-part .new {
   background-color: #46e846;
   padding: 8px 16px;
   position: absolute;
   margin: 15px 25px 300px 250px;
   border-radius: 1000px;

}
#hero .mic-part .new{
  animation: float 2s ease-in-out infinite;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}
.icon-10x{
   font-size: 10em;
}

.heading {
   text-align: center;
   margin-top: 50px;
   margin-bottom: 30px;
}

.heading h2 {
   font-size: 60px;
   font-weight: bolder;
   color: #ffffff;
   padding: 10px;

}

.heading p {
   font-size: 16px;
   font-weight: 400;
   color: #ffffff;
}

.button {
   display: flex;
   justify-content: center;
   gap: 30px;
}

.Subscribe {
   background-color: transparent;
   border: 1px solid #46e846;
   font-size: 20px;
   font-weight: 500;
   padding: 10px 40px;
   color: #46e846;
   border-radius: 1000px;

}



/* Main section style */
#about .about-container {
   text-align: center;
   padding:50px;
}
#about .about-container hr{
   color: rgba(49, 43, 43, 0.039);
}


#about .about-container h2 {
   font-size: 48px;
   font-weight: 800;

   /* margin-bottom: 30px; */

}

#about .about-container p {
   font-size: 16px;
   font-weight: 400;
   margin-bottom: 30px;
   line-height: 1.2;
   /* align-items: center;
   text-align: center; */
   padding-left: 40px;
}

#about .about-container hr {
   margin: 0 80px 0 80px;
}

#about .about-container .value {
   display: flex;
   justify-content: space-around;
   margin-top: 80px;
   gap: 10px;
 

}

#about .about-container .value-card {
   /* border: 1px solid #46e846; */
   padding: 0;
   justify-content: center;
   gap: 20px;
   width: 200px;
}

#about .about-container .value-card-1,  .value-card-2,  .value-card-3,  .value-card-4 h2 {
   color: #46e846;
}

#about .about-container .value-card p {
   color: #ffffff;
   align-items: center;
   display: flex;
}

/* Grid-section style */

#grid {
   background-color: rgba(35, 14, 61, 0.8);
}

#grid h2 {
   font-size: 48px;
   font-weight: 600;
   text-align: center;
   padding-top: 70px;
   color: #ffffff;
}

.grid-container>* {

   padding: 20px;

}

.grid-container {
   display: grid;
   grid-template-areas:
      "aside upper upper"
      "aside middle middle"
      "bottom-1 bottom-1 bottom-2"
   ;
   
   margin: 80px 230px 0px 230px;
   gap: 30px;
   padding-bottom: 100px;

}

.upper {
   grid-area: upper;
   background-color: rgba(53, 17, 101, 0.4);
   border-radius: 30px;

}

aside {
   grid-area: aside;
   background-color: rgba(53, 17, 101, 0.4);
   border-radius: 30px;
}

.middle {
   grid-area: middle;
   background-color: rgba(53, 17, 101, 0.4);
   border-radius: 30px;
}

.bottom-1 {
   grid-area: bottom-1;
   background-color: rgba(53, 17, 101, 0.4);
   border-radius: 30px;
}

.bottom-2 {
   grid-area: bottom-2;
   background-color: rgba(53, 17, 101, 0.4);
   border-radius: 30px;
}

.grid-container h3 {
   padding: 15px;
   color: #ffffff;
}




#episode {
   background-color: rgba(26, 11, 46, 1);
}

#episode h2 {
   text-align: center;
   color: white;
   font-size: 48px;
   font-weight: 800;
   padding-top: 80px;
}

.episode-container {
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin: 0 auto;
   padding-top: 80px;


}

.episode-container .ecard {
   width: 300px;
   gap: 20px;
   /* padding: 0px 0px 20px 0px; */
   border-radius: 30px;
   background-color: rgba(53, 17, 101, 0.4);

}
.episode-container .ecard iframe{
  padding-bottom: 20px;
}

.episode-container h3,
p,
.host h3 {
   color: #ffffff;
}

.episode-container h3 {
   padding-bottom: 15px;
}




.host {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
   border-radius: 30px;
   background-color: rgba(53, 17, 101, 0.4);
   margin: 50px 200px 0px 200px;
}

.host .host-container{
   margin-bottom: 50px;
}
.host div h3{

     padding-left: 0 auto;
     font-size: 24px;
     font-weight: 500;

}

.host div img{
   padding: 20px;
}
.host .icon-container {
   display: flex;
   justify-content: left;
   gap: 10px;
   padding-left: 10px;

}

/* footer style */
footer h2{
   font-size: 48px;
   font-weight: 600;
  color: #ffffff;
   text-align: center;
   padding: 80px 0 15px 0;
  
}
footer .media{
   display: flex;
   color: #ffffff;
   justify-content: center;
   align-items: center;
   gap: 30px;
   padding-left: 20px;
}
footer{
   background: url(../B13-A02-TechWave/assets/footer-bg.png);
   background-size: 100%;

  background-repeat: no-repeat;
}
.footer{
   padding-top:20px ;
}
.footer h2 span{
  background: linear-gradient(30deg,
         #F7E93F,
         #FB09B4,
         #9100F8);
  background-clip: text;
 -webkit-text-fill-color: transparent;
}
.footer-bottom{
   text-align: center;
   padding-top: 40px;
   font-size:16px ;
   font-weight: 400;
}

/* mobile device responsive*/



